@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);

	
}
html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:middle;}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}


#box {
	margin-left: 20px;
	width: 250px;
	border: none;
	appearance: none;
	padding: 12px;
	border-radius: 5px;
	outline: none;
	
}

#box:focus::placeholder {
	color: transparent;
}

#box::placeholder {
	color: #222;
	transition: color 0.3s ease;
}

#torzs
	{ 
	margin-right: auto;
	margin-left: auto;
	}

.vertical-menu {
	width: 200px;
	height: 300px;
	overflow-y: auto;
/*	float: left;*/
	margin-right: auto;
	margin-left: auto;
	}
	
	.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
	}
	
	.vertical-menu a:hover {
	background-color: #ccc;
	}
	
	.vertical-menu a.active {
	background-color:mediumslateblue;
	color: white;
	}
	

